PORT=3104
NODE_ENV=development
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
DATABASE_URL=
JWT_SECRET=
SESSION_SECRET=
CORS_ORIGIN=*

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
FIREBASE_WEB_API_KEY=
FIREBASE_SERVICE_ACCOUNT_PATH=
GOOGLE_APPLICATION_CREDENTIALS=
